.title {
  text-align: center;
  font-size: 2rem;
}

.badge {
  background: white;
  padding: 0.5rem;
  position: absolute;
  text-transform: uppercase;
  border: 2px solid black;
}

.badgeTop {
  left: 30%;
  top: 4rem;
}

.badgeBottom {
  right: 30%;
  top: 9.5rem;
}

@media(min-width: 480px) {
  .title {
    font-size: 3rem;
  }
  .badgeTop {
    top: 4.5rem;
  }
  .badgeBottom {
    top: 10rem;
  }
}
