.titleWrapper {
  margin-bottom: 2rem;
}

.title {
  color: black;
  text-decoration: none;
  display: inline;
  margin-right: 1rem;
}

.title:hover {
  text-decoration: underline;
}

.title h1 {
  display: inline;
}
.date {
  color: #868e96;
  white-space: pre;
}
